In [30]:
import kagglehub

In [31]:

# Download latest version
path = kagglehub.dataset_download("himelsarder/retail-product-dataset-with-missing-values")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/himelsarder/retail-product-dataset-with-missing-values?dataset_version_number=1...

100%|██████████| 46.7k/46.7k [00:00<00:00, 25.1MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/himelsarder/retail-product-dataset-with-missing-values/versions/1

In [32]:
import pandas as pd

In [33]:
import os

# List files in the downloaded directory
files = os.listdir(path)
print("Files in the dataset directory:", files)

# Assuming the data is in a CSV file, let's find the first one
csv_file = None
for f in files:
    if f.endswith('.csv'):
        csv_file = f
        break

if csv_file:
    full_file_path = os.path.join(path, csv_file)
    df = pd.read_csv(full_file_path)
    print("DataFrame loaded successfully. First 5 rows:")
    print(df.head())
else:
    print("No CSV file found in the directory.")

Files in the dataset directory: ['synthetic_dataset.csv']
DataFrame loaded successfully. First 5 rows:
  Category   Price    Rating         Stock  Discount
0      NaN  5548.0  1.870322           NaN       0.0
1      NaN  3045.0  4.757798           NaN      38.0
2      NaN  4004.0       NaN      In Stock       0.0
3      NaN  4808.0  1.492085           NaN      33.0
4      NaN  1817.0       NaN  Out of Stock      23.0

In [34]:
df = pd.read_csv(full_file_path)

In [35]:
df.head()

  Category   Price    Rating         Stock  Discount
0      NaN  5548.0  1.870322           NaN       0.0
1      NaN  3045.0  4.757798           NaN      38.0
2      NaN  4004.0       NaN      In Stock       0.0
3      NaN  4808.0  1.492085           NaN      33.0
4      NaN  1817.0       NaN  Out of Stock      23.0

In [36]:
df.isnull().sum()

Category    2748
Price        174
Rating      2050
Stock       1352
Discount     392
dtype: int64

so Category has the highest number of missing value

In [37]:
df.shape

(4362, 5)

In [38]:
df['Category'] = df['Category'].fillna('Unknown')

In [39]:
df.isnull().sum()

Category       0
Price        174
Rating      2050
Stock       1352
Discount     392
dtype: int64

In [40]:
df['Price'].mean()

np.float64(5016.970630372492)

In [41]:
df['Price'] = df['Price'].mean()

In [42]:
df.isnull().sum()

Category       0
Price          0
Rating      2050
Stock       1352
Discount     392
dtype: int64

In [43]:
df['Price'] = df['Price'].fillna(df['Price'].mean())

In [44]:
df.isnull().sum()

Category       0
Price          0
Rating      2050
Stock       1352
Discount     392
dtype: int64

In [45]:
df['Stock'].mode()

0    In Stock
Name: Stock, dtype: object

In [46]:
df['Stock'] = df['Stock'].fillna('In Stock')

In [47]:
df.isnull().sum()

Category       0
Price          0
Rating      2050
Stock          0
Discount     392
dtype: int64

In [48]:
print(df.describe())

              Price       Rating     Discount
count  4.362000e+03  2312.000000  3970.000000
mean   5.016971e+03     3.038293    24.516625
std    1.582702e-10     1.143074    14.347164
min    5.016971e+03     1.000366     0.000000
25%    5.016971e+03     2.069490    12.000000
50%    5.016971e+03     3.082060    25.000000
75%    5.016971e+03     4.008620    37.000000
max    5.016971e+03     4.997818    49.000000

In [50]:
print(f"duplicate is found {df.duplicated().sum()}")

duplicate is found 1620

In [51]:
print(df.isnull().sum())

Category       0
Price          0
Rating      2050
Stock          0
Discount     392
dtype: int64

In [52]:
df['Discount'] = df['Discount'].fillna(0)

In [53]:
df['Rating'] = df['Rating'].fillna(df['Rating'].mean())

In [54]:
df.drop_duplicates(inplace=True)

In [55]:
print(df.isnull().sum())
print(f"Remaining duplicates: {df.duplicated().sum()}")

Category    0
Price       0
Rating      0
Stock       0
Discount    0
dtype: int64
Remaining duplicates: 0