In [11]:
import pandas as pd

In [14]:
file = 'synthetic_dataset.csv'

In [13]:
df = pd.read_csv(file)

In [15]:
df.head()

  Category   Price    Rating         Stock  Discount
0      NaN  5548.0  1.870322           NaN       0.0
1      NaN  3045.0  4.757798           NaN      38.0
2      NaN  4004.0       NaN      In Stock       0.0
3      NaN  4808.0  1.492085           NaN      33.0
4      NaN  1817.0       NaN  Out of Stock      23.0

In [17]:
print(df.shape)

(4362, 5)

In [21]:
print(df.isnull().sum())

Category    2748
Price        174
Rating      2050
Stock       1352
Discount     392
dtype: int64

In [23]:
print(df.duplicated().sum())

15

In [26]:
df.drop_duplicates(inplace=True)
print(df.shape)

(4347, 5)

In [27]:
df["Category"] = df["Category"].fillna("Unknown")

In [29]:
df.dropna(subset =['Price'],inplace=True)

In [31]:
print(df.isnull().sum())

Category       0
Price          0
Rating      1963
Stock       1308
Discount     379
dtype: int64

In [33]:
df['Rating'] = df['Rating'].fillna(df['Rating'].mean())

In [36]:
print(df.isnull().sum())

Category       0
Price          0
Rating         0
Stock       1308
Discount     379
dtype: int64

In [38]:
df['Stock'].mode()

0    In Stock
Name: Stock, dtype: object

In [40]:
df['Stock'].mode()[0]

'In Stock'

In [41]:
df['Stock'] = df['Stock'].fillna('In Stock')

In [43]:
df['Discount'] = df['Discount'].fillna(0)

In [45]:
print(df.shape)

(4188, 5)

In [46]:
print(df.isnull().sum())

Category    0
Price       0
Rating      0
Stock       0
Discount    0
dtype: int64